<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Movie Land</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
    <header>
     <nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
        <a class= "navbar-item" href='/'>Movie Land</a>
        <a class= "navbar-item" href='/'>Home</a>
        <a class= "navbar-item" href="/dashboard">Dashboard</a>
        </div>

     

    {{!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> --}}
  {{!-- </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
         <a class= "navbar-item" href='/'>Home</a>


          <a class= "navbar-item" href="/dashboard">Dashboard</a>
      </div>
    </div> --}}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
         <a class="button is-info" href="/login">Login </a>
          <a class="button is-info btn-no-style" href="/">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
    </header>

 {{!-- NAVBAR
      <nav class= "navbar">

        <div class= "navbar-brand">
        <a  class= "navbar-item" href='/'>Movie Land</a>
        </div>
      </h1>

 <div class= "navbar-menu is-active">
    <div class= "navbar-menu">
        <div class="navbar-end">
      <a class= "navbar-item" href='/'>Home</a>
     <a class= "navbar-item" href="/dashboard">Dashboard</a>
      <a class= "navbar-item" href="/login">Login</a>
          <button id="logout" class="btn-no-style navbar-item">Logout</button>
        {{!-- change this later^ --}}
        </div>
        </div>
        </div>
      </nav> --}}


    <main>
      {{{body}}}
    </main>    

{{!-- do we need JS script tag for login?? --}}
  <script src="/javascript/logout.js"></script>
  </body>
  </html>