<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Movie Land</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


  </head>

  <body>
    <header>
      <nav>
        <div class= "title">
        <a href='/'>Movie Land</a></div>
      </h1>

    <div class= "logs">
          <a href='/'>Home</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/login">Login</a>
          <button id="logout" class="btn-no-style">logout</button>
        {{!-- change this later^ --}}
        </div>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>    
  <script src="/javascript/logout.js"></script>
  </body>
  </html>