<body>
  
    

<section>
  <div class="hero-body">
    <div class="searchbar container mt-6">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-5-desktop is-5-widescreen">
          <div class="intro">
        <h1 class="text-center">Find A Movie</h1>
       <h1 class="text-center">Leave A Review</h1> 
          <form action="" class="box" id="user-form">
             <div class="field">
              <label for="username-signup" class="label"></label>
              <div class="control has-icons-left">
        <input class="input" name="movie-search" id="movie-search" type="text" autofocus="true" placeholder="Search For a Movie">
                <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
                </span>
              </div>
            </div>
              <div class="field">
              <button type="submit" class="btn button is-info">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


 
 <div class="container">
      <div id="movie-container-one" class="row"></div>
    </div> 

</body>
</html>

  {{!-- <div class="container mt-6 has-text-white">
      <div class="columns is-centered">
        <div class="column is-4-tablet is-4-desktop is-5-widescreen">
    <div class="intro">
        <h2>Movie Land is a website all about movie reviews! </h2>
        <h3>Steps to use the site:
            <ol>
                <li>Log in if existing user or create an account if a new user.</li>
                <li>Review Genre and Movie choices</li>
                <li>Click into a movie to review the previous comments by other users and leave a comment of your own.</li>
            </ol>
        </h3>
    </div>

     </div>
      </div>
       </div> --}}

       <script src="/javascript/omdb.js"></script>
