<body>
    <div class="container mt-6 has-text-white">
      <div class="columns is-centered">
        <div class="column is-4-tablet is-4-desktop is-5-widescreen">
    <div>
        <h2>This is a site for movie reviews! </h2>
        <h3>Please review our choice of genres and movies below.</h3>
    </div>
    <div>
        <h4 class="genres">Genres</h4>
        <h4 class="movies">Movies</h4>
    </div>
     </div>
      </div>
       </div>
</body>
</html>