<body>
    <div>
        <h2>This is a site for movie reviews! </h2>
        <h3>Please review our choice of genres and movies below.</h3>
    </div>
    <div>
        <h4 class="genres">Genres</h4>
        <h4 class="movies">Movies</h4>
    </div>

</body>
</html>