 <section>
  <div class="hero-body">
    <div class="login-form container mt-6">
      <div class="columns is-centered">
        <div class="column is-4-tablet is-4-desktop is-5-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="email-login" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobross@gmail.com" class="input" id= "email-login" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password-login" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" id= "password-login" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <div class="field">
              <button type="submit" class="button is-info">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 
 
 <section>
  <div class="hero-body">
    <div class="signup-form container mt-6">
      <div class="columns is-centered">
        <div class="column is-4-tablet is-4-desktop is-5-widescreen">
          <form action="" class="box">
             <div class="field">
              <label for="username-signup" class="label">Username</label>
              <div class="control has-icons-left">
        <input class="input" id="username-signup" type="text" placeholder="e.g. bobross">
                <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="email-signup" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobross@gmail.com" class="input" id="email-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password-signup" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" id="password-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <div class="field">
              <button type="submit" class="button is-info">
                Signup
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 
 
 
<script src="/javascript/login.js"></script>