<section>
  <div class="container mt-6">
    <div class="movie-search-results columns">
      <!-- Need to insert posters of search results -->
      <!-- <img id="movie-poster-one"></img> -->
      <br>
      <div class="column">
        <div id="movie-container-one" ></div>
        <div id="movie-container-two" ></div>  
        <div id="movie-container-three" ></div>  
      </div>
      <div class="column">
        <div id="movie-container-four" ></div>  
        <div id="movie-container-five" ></div>    
        <div id="movie-container-six" ></div>  
      </div>
      <div class="column">
        <div id="movie-container-seven" ></div>  
        <div id="movie-container-eight" ></div>  
        <div id="movie-container-nine" ></div>
      </div>
    </div> 
  </div> 
</section>