*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --yellow: #fce138;
    --blue: #024e76;
    --lblue: #39a6b2;
    --white: #fff;
  }

body {
    background-image: url(../assets/movie1.jpg);
    background-color: var(--blue);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin:0px;
    justify-content: center;
    align-items: center;
}

nav  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
 }

 .title {
    position: absolute; top: 10px; left: 10px;
 }

 .logs {
    position: absolute; top: 10px; right: 10px;
 }

.intro {
    position: relative; top: 100px;
    font-size: 30px;
    color: black;
    text-align: center;
}

.intro h3 {
    font-size: 25px;
}

h1 {
    color: #00008b;
    font-size: large;
}

/* puts in colomns of 3
each movie in its own box */
.movie-container {
    background-color: gray;
} 
/* position: relative; top: 100px; left: 50px; */

/* --MOVIE SEARCH RESULTS-- */
.movie-search-results {
    color: black;
}  

/* --FOR THE DASHBOARD--
.new-post {
    position: relative; top: 200px; left: 15px;
    color: black;
} */



/* --WHAT DOES THIS DO?--
.selection-lists {
    position: relative; top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
} 
 */